{% set linksJSON %}
     {% include 'data/links.json' %}
{% endset %}

{% set links = linksJSON | json %}

<div class="footer__contacts">
	{% for item in links %}
		<a href="{{ item.link }}" class="footer__contact{% if item.specialClass == true %} footer__contact--email{% endif %}" target="{% if item.target == 'self' %}_self{% else %}_blank{%endif%}">{{ item.title }}</a>
	{% endfor %}
</div>