<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Andrii Kotliar - Frontend Developer</title>
	<link rel="stylesheet" href="dist/styles.css">
	<link rel="icon" href="favicon.png">
</head>